.main, .footer, .clear-completed {display: none;}

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #af5b5e;
}
.top-header-container {
    margin: 20px auto;
    width: 550px;
}
.not-auth, .auth {
    display: none;
}

.nav-links{
    margin: 0 20px;
    text-decoration: none;
    color: #eeeeee;
}
.nav-links:hover {
    color: #BDBDBD;
}
.user-credentials input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.user-credentials input[type='submit'] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#message {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 70px;
    background: #C5E1A5;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid #8BC34A;
}

#message.negative {
    background: #FFEBEE;
    border: 1px solid #F44336;
}

.back {
    text-decoration: none;
    padding: 15px 0 0 15px;
    display: block;
}

.clear {
    clear: both;
}

.right { float: right;}
.left { float: left;}

.shared-data {
    width: 48%;
}

.shared-data li {
    background: #fff;
}

.shared-data-title {text-align: center;}
